In [622]:
import pandas as pd

def load_data():
    return pd.read_table("../files/input/solicitudes_de_credito.csv", sep = ";", index_col= 0)

In [623]:
df = load_data()
df.head()

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica de,prado,3,10.0,13/07/2018,5000000,microempresarial
1,femenino,servicio,recreativo-educativo,barrio caicedo,1,9.0,30/10/2017,6000000,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4.0,3/08/2017,7300000,microempresarial
3,Masculino,comercio,variedades,cabecera san cristobal,3,60.0,20/11/2017,7000000,microempresarial
4,femenino,comercio,fabrica de,robledo,2,7.0,23/02/2017,5000000,microempresarial

In [624]:
print(df.shape)

(10920, 9)

In [625]:

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10920 entries, 0 to 10919
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    10920 non-null  object
 1   tipo_de_emprendimiento  10818 non-null  object
 2   idea_negocio            10920 non-null  object
 3   barrio                  10818 non-null  object
 4   estrato                 10920 non-null  int64
 5   comuna_ciudadano        10920 non-null  float64
 6   fecha_de_beneficio      10920 non-null  object
 7   monto_del_credito       10920 non-null  object
 8   línea_credito           10920 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 853.1+ KB
None

In [626]:
(df == 0).sum()

sexo                      0
tipo_de_emprendimiento    0
idea_negocio              0
barrio                    0
estrato                   3
comuna_ciudadano          0
fecha_de_beneficio        0
monto_del_credito         0
línea_credito             0
dtype: int64

In [627]:
categorical_columns = ["sexo","tipo_de_emprendimiento","idea_negocio","barrio","tipo_de_emprendimiento"]

In [628]:
df["monto_del_credito"] = df["monto_del_credito"].astype(str)  # Convert to string

df["monto_del_credito"] = (
    df["monto_del_credito"]
    .str.replace(r"[\$,]", "", regex=True)  # Remove $ and commas
    .str.replace(r"\.00$", "", regex=True)  # Remove .00 at the end
    .str.replace(r"\.0$", "", regex=True)
)
df["monto_del_credito"] = df["monto_del_credito"].astype(int)

In [629]:
for column in categorical_columns:
    df[column] = df[column].str.lower()
    df[column] = df[column].str.replace(",", "")
    df[column] = df[column].str.replace(r"[\_\-]", " ", regex=True)
    df[column] = df[column].str.strip()

In [630]:
for column in categorical_columns:
    print(len(df[column].unique()),df[column].unique())

2 ['masculino' 'femenino']
5 ['comercio' 'servicio' 'industria' 'agropecuaria' nan]
75 ['fabrica de' 'recreativo educativo' 'tienda' 'variedades' 'sembrados'
 'comidas rapidas' 'miscelanea' 'cafe e internet' 'venta de calzado'
 'productos de belleza' 'almacen de ropa en' 'barberia' 'peluqueria'
 'jardineria' 'fabrica de alimentos' 'fabrica de traperos' 'papeleria'
 'panaderia' 'mantenimiento en' 'tienda de helados' 'bares'
 'criadero de animales' 'restaurante' 'organización y' 'fabrica de arepas'
 'carpinteria' 'drogueria' 'productos de mar' 'ebanistaria'
 'fabrica de calzado' 'fabrica de helados' 'carniceria' 'cafeteria'
 'fabrica de muebles' 'legumbreria' 'ferreteria' 'fabrica de repuestos'
 'distribuidora de' 'taller de electronica' 'lavanderia'
 'fabrica de productos' 'servicios' 'billares' 'licorera'
 'taller de mecanica' 'marroquineria' 'fabrica de ceramica'
 'fabrica de velas' 'granero' 'tienda naturista' 'fabrica de juegos'
 'deposito de' 'venta de lacteos' 'reciclaje' 'cerrajeria' 'charcuteria'
 'fotografia' 'hoteles moteles' 'viveros' 'fabrica de colchones'
 'publicidad y' 'joyeria' 'venta de pollos' 'lenceria para el'
 'lavadero de' 'venta de repuestos' 'montallantas' 'marqueteria'
 'gimnasio' 'fumigacion' 'floristeria' 'pañalera' 'mensajeria' 'venta de'
 'alquiler de peliculas']
224 ['prado' 'barrio caicedo' 'aranjuez' 'cabecera san cristobal' 'robledo'
 'picachito' 'guayabal' 'carpinelo' 'belalcazar' 'manrique central no. 1'
 'manrique central no. 2' 'santa elena central' 'andalucia'
 'san javier no.1' 'belencito' 'centro admtivo' 'cabecera san antonio'
 'villa hermosa' 'playon de los' 'buenos aires' 'popular' 'tricentenario'
 'calasanz' 'pedregal' 'la francia' 'santa cruz' 'la floresta' 'belen'
 'las brisas' 'castilla' 'santander' 'san javier no.2' nan 'la milagrosa'
 'bombona no. 1' 'manrique oriental' 'villa liliam' 'kennedy'
 'doce de octubre no.1' 'enciso' 'el salvador' 'la esperanza'
 'santo domingo savio' 'campo valdes no. 2' 'campo valdes no. 1'
 'las palmas' 'girardot' 'moravia' 'antonio nariño' 'el socorro'
 'lopez de mesa' 'aures no. 2' 'san jose de la cima no.' 'palermo'
 '13 de noviembre' 'tejelo' 'francisco antonio zea' 'picacho'
 'la loma oriental' 'la loma' 'florencia' 'pedregal alto'
 'villa del socorro' 'la libertad' 'el chagualo' 'trinidad' 'el poblado'
 '20 de julio' 'la pradera' 'san pablo' 'jardin botanico' 'san antonio'
 'miranda' 'las esmeraldas' 'pablo vi' 'boyaca' 'san joaquin' 'la america'
 'villa niza' 'el pinal' 'la colina' 'san benito' 'manila' 'la palma'
 'olaya herrera' 'san martin de porres' 'la cruz' 'boston' 'llanaditas'
 'toscana' 'villatina' 'alfonso lopez' 'granizal' 'el progreso no.2'
 'villa guadalupe' 'cordoba' 'juan xxiii la quiebra' 'versalles no. 1'
 'santa rosa de lima' 'cristo rey' 'moscu no. 1' 'palmitas' 'san german'
 'el rincon' 'blanquizal' 'la candelaria' 'la sierra' 'sucre' 'maria cano'
 'aguas frias' 'ocho de marzo' 'campo amor' 'versalles no. 2'
 'calasanz parte alta' 'suburbano altavista' 'la esperanza no. 2'
 'vrda. san cristobal' 'pajarito' 'santa lucia' 'altavista' 'la avanzada'
 'loreto' 'los mangos' 'san pedro' 'santa ines' 'bel¿n' 'el vergel'
 'san diego' 'vrda. san antonio' 'gerona' 'el triunfo' 'bello horizonte'
 'granada' 'eduardo santos' 'barrio cristobal' 'sevilla' 'el raizal'
 'jesus nazareno' 'el salado' 'bosques de san pablo' 'campo alegre'
 'nuevos conquistadores' 'la frontera' 'santa fe' 'las violetas'
 'fuente clara' 'la isla' 'santa monica' 'el compromiso' 'el diamante'
 'juan pablo ii' 'suburbano santa elena' 'barrio colon' 'el astillero'
 'santa margarita' 'santa teresita' 'loma de los bernal' 'altamira'
 'los alcazares' 'palenque' 'las granjas' 'el corazon' 'la ladera'
 'las independencias' 'la florida' 'cataluna' 'el rodeo' 'veinte de julio'
 'alejandro echavarria' 'el pesebre' 'parque norte' 'vrda. santa elena'
 'sin barrio' 'santa maria de los' 'barro blanco' 'bombona no. 2'
 'progreso' 'la cuchilla' 'la salle' 'laureles' 'la aguacatala'
 'hector abad gomez' 'rosales' 'barrio colombia' 'caribe' 'villa nueva'
 'yarumalito' 'zona expansion san' 'metropolitano' 'naranjal'
 'barrio de jesus' 'san isidro' 'la oculta' 'carlos e. restrepo'
 'brasilia' 'travesias' 'miraflores' 'la volcana y guayabal' 'aures no.1'
 'la hondonada' 'oriente' 'betania' 'moscu no. 2' 'los angeles'
 'la mansion' 'los cerros el vergel' 'san bernardo' 'fatima'
 'villa turbay' 'miravalle' 'oleoducto' 'antonio nari¿o'
 'doce de octubre no.2' 'universidad de' 'san josé de la montaña'
 'florida nueva' 'monteclaro' 'vrda. palmitas' 'la aldea' 'villa flora'
 'mirador del doce' 'suburbano barro' 'el estadio' 'el llano']
5 ['comercio' 'servicio' 'industria' 'agropecuaria' nan]

In [631]:
df["comuna_ciudadano"] = pd.to_numeric(df["comuna_ciudadano"], errors= "coerce")
df["monto_del_credito"] = pd.to_numeric(df["monto_del_credito"], errors="coerce")

In [632]:
df["fecha_de_beneficio"] = pd.to_datetime(
            df["fecha_de_beneficio"], format="%d/%m/%Y", errors="coerce"
        ).combine_first(
            pd.to_datetime(df["fecha_de_beneficio"], format="%Y/%m/%d", errors="coerce")
        )

In [633]:
df = df.drop_duplicates()
df = df.dropna()

df.shape

(10252, 9)

In [634]:
df["sexo"].value_counts().to_list()

[6636, 3616]